@font-face{
    font-family:Code39AzaleaFont;
    src:url('../../font/Code39Azalea.eot') format('embedded-opentype'),url('../../font/Code39Azalea.woff') format('woff'),url('../../font/Code39Azalea.ttf') format('truetype'),url('../../font/Code39Azalea.svg#Code39Azalea') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face { 
    font-family: IDAutomationHC39M;  
    src: url(../../font/IDAutomationHC39M.woff);
}

@font-face {
    font-family: "segoeuil";
    src: url(../../font/segoeuil.ttf);
}

@font-face {
    font-family: "free3of9";
    src: url(../../font/free3of9.woff);
}

@font-face {
    font-family: "fre3of9x";
    src: url(../../font/fre3of9x.woff);
}

@font-face {
    font-family: "segoeui";
    src: url(../../font/segoeui.ttf);
}

body{
    font-family:   "segoeui",Verdana,Arial; 
    min-width: 730px;
}
.bs-callout {
    margin: 20px 0;
    padding: 5px 20px;
    border-left: 3px solid #eee;
    border-right: 3px solid #eee;
}
.bs-callout-info{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.bs-callout-info h4{
    color: #5bc0de;
}
.bs-callout-info h5{
    color: #5bc0de;
}

.bs-callout-purple{
    background-color: #FAF7FF;
    border-color: #605BDE;
}
.bs-callout-purple h4{
    color: #605BDE;
}
.bs-callout-purple h5{
    color: #605BDE;
}

.bs-callout-warning{
    background-color: #FFFBF4;
    border-color: #BE6D40;
}
.bs-callout-warning h4{
    color: #BE6D40;
}
.bs-callout-warning h5{
    color: #BE6D40;
}

.bs-callout-danger{
    background-color: #FFF4F4;
    border-color: #DE5B5B;
}
.bs-callout-danger h4{
    color: #DE5B5B;
}
.bs-callout-danger h5{
    color: #DE5B5B;
}

.bs-callout-green{
    background-color: #F2FFF3;
    border-color: #009435;
}
.bs-callout-green h4{
    color: #009435;
}
.bs-callout-green h5{
    color: #009435;
}
.tumbnail-bluedark{
    background-color: #064A88;
}

.tumbnail-bluedark:hover{
    background-color: #1F7ED4;
}

.tumbnail-bluedark h1{
    color: #FFF;
    font-size: 71px;
    text-align: center;
}

.tumbnail-bluedark h4{
    color: #FFF;
    font-size: 16px;
    text-align: center;
}

.tumbnail-reddark{
    background-color: #880606;
}

.tumbnail-reddark:hover{
    background-color: #DB3333;
}

.tumbnail-reddark h1{
    color: #FFF;
    font-size: 71px;
    text-align: center;
}

.tumbnail-reddark h4{
    color: #FFF;
    font-size: 16px;
    text-align: center;
}

.tumbnail-orangedark{
    background-color: #7A4603;
}

.tumbnail-orangedark:hover{
    background-color: #CA872F;
}

.tumbnail-orangedark h1{
    color: #FFF;
    font-size: 71px;
    text-align: center;
}

.tumbnail-orangedark h4{
    color: #FFF;
    font-size: 16px;
    text-align: center;
}

.tumbnail-grenndark{
    background-color: #085E04;
}

.tumbnail-grenndark:hover{
    background-color: #3ACA33;
}

.tumbnail-grenndark h1{
    color: #FFF;
    font-size: 71px;
    text-align: center;
}

.tumbnail-grenndark h4{
    color: #FFF;
    font-size: 16px;
    text-align: center;
}

.footer{
    height:65px;
    margin:auto;
    background:#093C97;
}
.footerpt{
    padding-top:10px;
    text-align:center;
    color:#fff;
    font-size:18px;
}
.footerketpt{
    text-align:center;
    color:#fff;
    font-size:12px;	
}
.linkkonten{
    color:#fff;
}
.linkkonten:hover{
    color:#000;
    text-decoration:none;
}
.input-control{
    margin: 10px 0px;
}

.navbar-default 
.navbar-brand {
    color: #FFF;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #054977; 
}

.navbar-default 
.navbar-brand:hover, 
.navbar-default 
.navbar-brand:focus {
    color: #FFF;
    background-color: transparent;
}

.nav>li>a:hover, 
.nav>li>a:focus {
    text-decoration: none;
    background-color: #0081BD;
}

.nav .open>a, 
.nav .open>a:hover, 
.nav .open>a:focus {
    background-color: #008ACA;
    border-color: #428bca;
}

.navbar-static-side ul li {
    border-bottom: none;
}

.nav>li>a {
    color: #fff;
}

#wrapper{
    background-color: #063250;
}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #1A95E7;
}

a.list-group-item:hover, 
a.list-group-item:focus {
    text-decoration: none;
    background-color: #E7E7E7;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #FFF;
}

.navbar-default .navbar-toggle {
    background-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0A72B8;
}

.btn{
    border-radius: 1px;
}

.form-control{
    border-radius: 2px;
}

.dropdown-menu {
    border-radius: 1px;
}

.label{
    border-radius: 5px;
}

.text-muted {
    color: #414141;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 700px;
        border-left: 5px solid #054977;
    }
    body{
        min-width: 1024px;
    }
}

.panel{
    border-radius: 2px;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.input-group-addon, 
.input-group-btn, 
.input-group-text,
.input-group .form-control {
display: table-cell;
}

.group-text{
    width: 100%
}

.group-input{
    margin-left: -1px;
}

.input-group-text {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.input-group-addon, 
.input-group-text {
    width: 60%;
    vertical-align: middle;
}

#terbilang{
    padding: 5px 5px;
    border: 1px solid #CCC;
    border-radius: 2px;
    font-style: italic;
    font-size: 18px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.exporticon:hover
,.exporticon:visited
,.exporticon:link
,.exporticon:active{
    text-decoration: none;
}